#add-btn{
    position: fixed;
    bottom: 22px;
    right: 30px;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    background-color: #001427;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

i{
    color: #fff;
}
