main#home{
    min-height: 100vh;        
    position: relative;
    background-color: #1a535c ;
    padding-top: 6rem;
}

#board{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 0 1rem;
    margin: auto;
}

#menu{
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    padding: 1rem .5rem;
    z-index: 3;
    background-color: transparent;
    transition: background 1s ease;
}

#menu.bg-active{
    background: #1c7293;
}

#menu h1 { 
    padding-right: 40px;
    color: #fff;
}

#menu-btn{
    float: left;
    margin-top: -2px;
}

@media(min-width: 550px) {
    #board{
        justify-content: space-around;
        flex-wrap: wrap;    
        flex-direction: row;
    }
}